.btn {
  display: block;
  width: 100%;
  border: 1px solid #df2e31;
  background-color: white;
  color: #df2e31;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
